.App{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
}

.Navbar{
display: block;
position: fixed;
}

.Content{
position: absolute;
margin-top: 30px;
display: block;
overflow: hidden;
width: 100%;
text-align: center;
}

input, button, select {
text-align: center;
padding: 10px;
width: auto;
border: none;
background: #F2F2F2;
color: #446083;
margin-bottom: 10px;
font-size: 14px;
width: 220px;
border-radius: 5px;
font-family: Futura;
outline: none;
}

button {
background: #446083;
color: #FFF;
}

button:hover{
opacity: 0.9;
}

input, select:focus{
outline: none;
}

button:active{
transform: translateY(3px);
}



p.loading{
    font-size:15px;
    margin-top:10px;
    margin-left:10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.loading span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

    .loading span:nth-child(2) {
        /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
        animation-delay: .2s;
    }

    .loading span:nth-child(3) {
        /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
        animation-delay: .4s;
    }

