.Navbar{
background: #000;
}

.navbar{
position: fixed;
background: #000;
padding: 20px;
border-radius: 0px;
font-family: Futura;
font-size: 15px;
margin-bottom: 20px;
width: 100%;
opacity: 0.9;
}


.navbar a{
color: #fff;
text-decoration: none;
margin-right: 30px;
}


.navbar a:hover{
text-decoration: none;
opacity: 0.9;
cursor: pointer;
}


.navbar .icon {
display: none;
}
  
@media screen and (max-width: 600px) {
.navbar a {
    display: none;
}
.navbar a.icon {
    float: right;
    display: block;
    color: #FFF;
    margin-right: 0px;

}
}
  
@media screen and (max-width: 600px) {
.navbar.responsive {
    position: relative;
    width: 100vw;
    margin-bottom: 0px;
}
.navbar.responsive .icon {
    position: absolute;
    right: 20px;
    top: 20px;
}
.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
}

.user{
display: inline-block;
margin-right: 30px;
color: #333;

}